# Actividad 1 #
**Jose Alfonso Gonzalez Acosta**
- Matricula: 1989939
- Materia: Estadistica Aplicada
- Grupo: 043

1. Crear una lista con los nombres de pila de los integrantes de tu familia, la lista se llamará mi_familia

In [36]:
#respuesta
mi_familia1 = ["Leopoldo", "Xiomara"]
mi_familia2 = ["Alfonso", "Claudia", "Camila"]

2. Crea una variable float que se llame mi_edad con tu edad
Nota: las variables float contienen decimales

In [25]:
#respuesta
mi_edad1 = 21
mi_edad2 = 21

In [26]:
#al ejecutar el comando de abajo debe resultar float
type(mi_edad1)
type(mi_edad2)

int

In [35]:
mi_edad1 = float(mi_edad1)
mi_edad2 = float(mi_edad2)
print(mi_edad1, mi_edad2)

21.0 21.0

3. Convierte la variable mi_edad a entero (int) y guardalo en mi_edad

In [31]:
mi_edad1 = int(mi_edad1)
mi_edad2 = int(mi_edad2)

In [32]:
type(mi_edad1)

int

In [33]:
type(mi_edad2)

int

In [37]:
len(mi_familia1)

2

In [38]:
len(mi_familia2)

3

In [18]:
print("Yo tengo ", mi_edad1, " años")

Yo tengo  21  años

In [19]:
print("Yo tengo ", mi_edad2, " años")

Yo tengo  21  años

In [39]:
print(f"Yo tengo {len(mi_familia1)} integrantes de familia")

Yo tengo 2 integrantes de familia

In [40]:
print(f"Yo tengo {len(mi_familia2)} integrantes de familia")

Yo tengo 3 integrantes de familia

In [41]:
if mi_edad1 > 20:
    print("tengo mas de 20 años")
else:
    print("tengo menos de 20 años")

tengo mas de 20 años

In [42]:
if mi_edad2 > 20:
    print("tengo mas de 20 años")
else:
    print("tengo menos de 20 años")
    
    Actividad1_JJEG_18799456566_EAG43_ene2023

tengo mas de 20 años